<p>signup works!</p>
<!-- <div class="signup container">

    <div class="title row">
      <div class="col-md-8">
        <p>SIGN UP</p>
        <span>Welcome back to Keyist</span>
      </div>
  
    </div>
  
    <div class="form row">
      <div class="col-md-12">
        <div *ngIf="true" class="loader"></div>
        <form  >
          <div class="form-group">
            <label for="email">EMAIL</label>
            <input type="text" id="email" class="form-control" name="email" formControlName="email">
            <span *ngIf="true" class="alert-danger">
              Please enter a valid email!
            </span>
          </div>
  
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <label for="newPassword">PASSWORD</label>
              <input type="password" id="newPassword" class="form-control" name="newPassword"
                formControlName="newPassword">
              <span
                *ngIf="true">
                <span *ngIf="true" class="alert-danger">This
                  field is required!</span>
                <span *ngIf="true" class="alert-danger">The
                  password should at least be 6 digits!</span>
              </span>
            </div>
            <div class="form-group">
              <label for="newPasswordConfirm">PASSWORD REPEAT</label>
              <input type="password" id="newPasswordConfirm" class="form-control" name="newPasswordConfirm"
                formControlName="newPasswordConfirm">
              <span
                *ngIf="true">
                <span *ngIf="true" class="alert-danger">This field is required!</span>
  
              </span>
              <span *ngIf="true">
                <span class="alert-danger">Your passwords must match!</span>
              </span>
  
            </div>
          </div>
  
  
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-info" type="submit">Register
              </button>
            </div>
          </div>
  
          <div class="signin row">
            <div class="col-md-12">
              <a routerLink="/vets/signin">
                <p>Already have an account? <span>Login!</span></p>
              </a>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div> -->

