<p>forgot-password works!</p>
<!-- <div class="forgot-password container">
    <div class="row title">
      <p>Please enter your email associated with your account.</p>
    </div>
    <hr>
    <div *ngIf="innerLoading" class="loader"></div>
    <div *ngIf="!innerLoading" class="row">
      <div class="col-md-6">
        <form [formGroup]="forgotPasswordForm" (submit)="onForgotPasswordFormSubmit()">
          <div class="form-group">
            <label for="email"></label>
            <input type="text" id="email" class="form-control" name="email" placeholder="Email" formControlName="email"
              [maxlength]="240">
            <span *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched"
              class="alert-danger">
              Please enter a valid email!
            </span>
          </div>
  
          <button class="btn btn-info" type="submit"
            [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pending">Submit
          </button>
  
        </form>
      </div>
    </div>
  </div> -->

  <!-- <div class="container-fluid">
    <div class="container xd-container">
      <h2>Edit Veterinarian</h2>
      <form id="vet_form" class="form-horizontal" (ngSubmit)="onSubmit(vetEditForm.value)" [formGroup]="vetEditForm">
        <div class="form-group" hidden="true">
          <input type="text" hidden="true" class="form-control" id="id" name="id" formControlName="id"/>
        </div>
        <div class="form-group has-feedback" [class.has-success]="firstNameCtrl.dirty && firstNameCtrl.valid" [class.has-error]="firstNameCtrl.dirty &&  !firstNameCtrl.valid">
          <label for="firstName" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="firstNameCtrl.valid" [class.glyphicon-remove]="!firstNameCtrl.valid" aria-hidden="true"></span>
            <span class="help-block" *ngIf="firstNameCtrl.dirty && firstNameCtrl.hasError('required')">First name is required</span>
            <span class="help-block" *ngIf="firstNameCtrl.dirty && firstNameCtrl.hasError('minlength')">First name must be at least 2 characters long</span>
          </div>
        </div>
        <div class="form-group has-feedback" [class.has-success]="lastNameCtrl.dirty && lastNameCtrl.valid" [class.has-error]="lastNameCtrl.dirty && !lastNameCtrl.valid">
          <label for="lastName" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="lastNameCtrl.valid" [class.glyphicon-remove]="!lastNameCtrl.valid" aria-hidden="true"></span>
            <span class="help-block" *ngIf="lastNameCtrl.dirty && lastNameCtrl.hasError('required')">Last name is required</span>
            <span class="help-block" *ngIf="lastNameCtrl.dirty && lastNameCtrl.hasError('minlength')">Last name must be at least 2 characters long</span>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group ">
            <label for="spec" class="col-sm-2 control-label">Specialties</label>
              <mat-form-field class="col-sm-10">
                <mat-select  [compareWith]="compareSpecFn" id="spec" name="specialties" formControlName="specialties" multiple>
                  <mat-option *ngFor="let specialty of specList" [value]="specialty">
                    {{ specialty.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <br/>
            <button class="btn btn-default" type="button" (click)="gotoVetList()">< Back</button>
            <button class="btn btn-default" type="submit" [disabled]="vetEditForm.invalid">Save Vet</button>
          </div>
        </div>
      </form>
    </div>
  </div>
   -->